[submodule "backend"]
	path = backend
	url = https://github.com/hrishikesh-mahajan/insurance-aggregator-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/hrishikesh-mahajan/insurance-aggregator-frontend.git
